{% extends 'base.html.twig' %}

{% block title %}Analyse du Livret
{% endblock %}

{% block body %}
	<main class="content m-5">
    <a href="{{ path('detailLivret', { id: livret.id }) }}" class="btn btn-secondary mb-2">Retour au livret</a>
    <h2 class="text-center">Analyse - {{ livret.nomLivret }}</h2>

    <div class="mt-5">
        <canvas id="donut"
            data-labels='{{ libelles|raw }}'
            data-montants='{{ montants|raw }}'>
        </canvas>
    </div>
</main>
{% endblock %}
