{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<main class="container d-flex align-items-center justify-content-around content accueil-content">
		<img src="/images/logo.png" alt="Logo CashPilot" class="h-auto w-25 logo-img">

		<div class="align-items-center d-flex flex-column text-zone">
			<h2>Bienvenue sur CashPilot !</h2>
			<p>Application de gestion des finances personnelles
			</p>
			<a href="/connexion" class="btn btn-primary">Se connecter</a>
		</div>
	</main>

{% endblock %}
